<div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about homepage_content">
      <h2>About</h2>
      <hr>
      <p>I'm a developer living in the San Francisco Bay Area.</p>
      <p>By day I work as a IT Operations Analyst, by night I am learning Web Development.</p>
      <p>You can find me speaking in 140 characters on Twitter, and sharing some code on Github.test</p>
    </div>
    <div class="col-2 homepage_content">
      <h2>Stuff I've Written</h2>
      <hr>

      <% @posts.each do |post| %>
        <h3><a href="#"><%= link_to post.title, post %></a></h3>
        <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
      <% end %>
    </div>
    <div class="col-3 homepage_content">
      <h2>Stuff I've Built</h2>
      <hr>

      <% @projects.each do |project| %>
        <h3><a href="#"><%= link_to project.title, project %></a></h3>
        <p class="date"><%= project.created_at.strftime("%A, %b, %d") %></p>
      <% end %>


    </div>
  </div>