<div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about homepage_content">
      <h2>About</h2>
      <hr>
      <p>I'm a San Francisco Bay Area native that recently transitioned to iving in Auburn, Alabama in order to pursue a caeer in web development.</p>
      <p>I'm currently working as a Full Stack Web Developer at doTERRA International and formerly as a IT Operations Specialist for First Republic Bank.</p>
      <p>My web development journey started in the Summer of 2019, where I worked through The Odin Project online curriculum. That curriculum focused on the Ruby on Rails Framework, and with it I have built some interesting projects, including this blog, and Twitter and Facebook clones.</p>
      <p>When I'm not workking on code, I like to spend my time travelling with my wife Tiffany, and hanging out with friends.</p>
      <p>Feel free to take a look around and don't forget to check out my Twitter, GitHub, & LinkedIn links below!a</p>
    </div>
    <div class="col-2 homepage_content">
      <h2>Stuff I've Written</h2>
      <hr>

      <% @posts.each do |post| %>
        <h3><a href="#"><%= link_to post.title, post %></a></h3>
        <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
      <% end %>
    </div>
    <div class="col-3 homepage_content">
      <h2>Stuff I've Built</h2>
      <hr>

      <% @projects.each do |project| %>
        <h3><a href="#"><%= link_to project.title, project %></a></h3>
        <p class="date"><%= project.created_at.strftime("%A, %b, %d") %></p>
      <% end %>


    </div>
  </div>